* {
    margin: 0;

}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header */

.header {
    display: flex;
    gap: 30px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
}

.header-part {
    padding: 150px;
    max-width: 40%;
    /* border: 2px solid red solid red; */
    ;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.header-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: 0;
}

.header-btn a {
    color: white;
    text-decoration: none;

}

.header-img {
    padding: 20px 0px;
    width: 500px;
}

/* Main */

/* feature */
.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.feature-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 450px;
    margin-bottom: 20px;

}

.feature-img-body {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.feature-img {
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
    padding: 75px 65px 0px 65px;
    width: 200px;
    height: 300px;

}

.feature-img-1 {
    background: rgba(167, 33, 98, 0.15);
}

.feature-img-2 {
    background: rgba(5, 151, 160, 0.15);
}

.feature-img-3 {
    background: rgba(71, 125, 17, 0.15);
}

.feature-img-name {
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 20px;


}

/* Offer */
.offer {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 150px;
}

.offer-part {
    justify-content: center;
    padding: 200px 0 0 250px;
    max-width: 40%;
}

.offer-text {
    color: #E55473;
}

.offer-title {
    text-align: center;
    font-size: 40px;

}

.offer-desc {
    padding: 24px 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.offer-btn {
    margin-left: 40%;
    justify-content: center;
}

.offer-img {
    margin-top: 100px;
    margin-bottom: 100px;

}

/* card-price */
.card-price {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 350px;
    text-align: center;
    margin: 0 200px;
    display: flex;
}



.card-body {
    /* border: 2px solid red; */
    padding: 40px 0 10px 15px;
    margin-right: 10%;
}

.card-desc {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.card-img {
    height: 200px;
    width: auto;
}


/* service */

.service {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 300px;
    text-align: center;
    margin: 100px 200px;
    display: flex;
}

.service-body {
    text-align: center;
    padding: 80px;
}

.service-icon {
    margin-bottom: 20px;
}


/* Instagram */

.insta-title {
    margin-top: 100px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 450px;
    margin: 12px 0 30px 0;

}

.instagram-img {
    text-align: center;
    margin-bottom: 130px;

}


.instagram-img img {
    width: 220px;
    height: 270px;
    margin-right: 20px;
}

/* deal */


.deal-part {

    justify-content: center;
    text-align: center;
    border-radius: 8px;
    margin: 120px 285px 128px 285px;
    background-image: url("images/Rectangle\ 9.png");
    background-size: cover;

}


.deal-title {
    padding-top: 55px;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 20px;
}

.deal-part>input {
    border-radius: 8px;
    width: 500px;
    height: 60px;
    border: 0px;
    margin-bottom: 70px;
    margin-right: 7px;
    padding-left: 15px;

}

/* footer */

.footer-part {
    background: #111010;
    text-align: center;
    padding: 100px 500px;

}

.footer-title {
    color: #E55473;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

.footer-text {
    color: white;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;


}